{% extends "base.html" %}
{% block title %}Account page{% endblock %}

{% block content %}
    <h2>Account page</h2>
    {% if user.is_authenticated %}

        <h2>USER INFO</h2>
        <p>{{ user_info.last_name }} Last name</p>
        <p>{{ user_info.first_name }} First_name</p>
        <p>{{ user_info.phone }} Phone</p>
        <p>{{ user_info.balance }} Balance</p>
        {% if user_address %}
            <p>{{ user_address.region }} region</p>
            <p>{{ user_address.city }} city</p>
            <p>{{ user_address.street }} street</p>
            <p>{{ user_address.building.building }} building</p>

            {% if services_to_subscribe %}
                <form method="post" action="{% url 'subscribe_services' %}">
                    {% csrf_token %}
                    <label for="services_to_subscribe">Choose a service:</label>
                    <select id="services_to_subscribe" name="services_to_subscribe">
                        <option value="">Select service to subscribe</option>
                        {% for service in services_to_subscribe %}
                            <option value="{{ service.name }}">{{ service.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Subscribe</button>
                </form>
            {% endif %}
        {% else %}
            {#            <form method="post" action="{% url 'user_update' %}">#}
            <form method="get">
                {% csrf_token %}
                <label for="region">Choose your region:</label>
                <select id="region" name="region">
                    <option value="">Select your region</option>
                    {% for region in regions %}
                        <option value="{{ region.name }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
                {% if cities %}
                    <label for="city">Choose your city:</label>
                    <select id="city" name="city">
                        <option value="">Select your city</option>
                        {% for city in cities %}
                            <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if streets %}
                    <label for="street">Choose your street:</label>
                    <select id="street" name="street">
                        <option value="">Select your street</option>
                        {% for street in streets %}
                            <option value="{{ street.name }}">{{ street.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if buildings %}
                    <label for="building">Choose your building:</label>
                    <select id="building" name="building">
                        <option value="">Select your building</option>
                        {% for building in buildings %}
                            <option value="{{ building.building }}">{{ building.building }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <button type="submit">Apply address</button>
            </form>
        {% endif %}

        {% if user_services %}
            {% for service in user_services %}
                <h2>You have this subscribes:</h2>
                <p>{{ service.service.name }}</p>
            {% endfor %}
        {% endif %}



        {% if active_transactions %}
            <h2>You have active payment transactions. Click button to validate them</h2>
            <form method="post" action="{% url 'check_transactions' %}">
                {% csrf_token %}
                <button type="submit">Check payment transactions</button>
            </form>
        {% endif %}

        <form method="post" action="{% url 'user_logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <li><a href="{% url 'user_login' %}">Login</a></li>
        <li><a href="{% url 'user_register' %}">Register</a></li>
    {% endif %}
{% endblock %}
