{% extends "base.html" %}
{% block title %}Billing page{% endblock %}

{% block content %}
    <h2>Billing page</h2>
    {% if user.is_authenticated %}
        <p>{{ user.balance }} Balance</p>


        <form method="post" action="{% url 'pay' %}">
            {% csrf_token %}
            <label for="services">Choose a service:</label>
            <select id="services" name="services">
                <option value="">Select service</option>
                {% for service in services %}
                    <option value="{{ service.name }}">{{ service.name }}</option>
                {% endfor %}
            </select>
            <label for="amount">Amount</label>
            <input name="amount" id="amount" required> <br>
            <button type="submit">Pay</button>
        </form>


    {% else %}
        <li><a href="{% url 'user_login' %}">Login</a></li>
        <li><a href="{% url 'user_register' %}">Register</a></li>
    {% endif %}
{% endblock %}